@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --white: #fff;
  --dark-blue: #16242e;
  --dark-blue-text: #1c2d3a;
  --light-blue: #008aee;
  --green: #33bb5a;
  --red: #fd3541;
  --light-text: #231f20;
}

header,
main {
  padding: 0 260px;
}

/*** HEADER ***/

.header {
  font-family: "Exo 2";
}

.header:nth-child(1) {
  background-color: var(--dark-blue);
}
.header:nth-child(2) {
  background-color: var(--dark-blue-text);
}

.header__main,
.header__nav,
main {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__main {
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  position: relative;
}

.search-bar input {
  font-weight: 400;
  font-size: 18px;
  padding: 12px 30px;
  width: 453px;

  background-color: var(--dark-blue);
  color: #777777;

  border-radius: 50px;
  border: 1px solid var(--light-blue);
}

.magnifier {
  position: absolute;
  top: 13px;
  right: 26px;
}

/* Contacts */

.contacts {
  display: flex;
  align-items: center;
  gap: 11px;

  color: var(--white);
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 19px;

  background-color: var(--light-blue);
  width: 44px;
  height: 44px;
  border-radius: 44px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 13px;

  font-weight: 700;
  font-size: 20px;
}

/* Header nav */

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 27px;
}

.nav__links {
  display: flex;
  gap: 6px;

  padding: 21px 0;
  padding-top: 17px;

  color: var(--white);
}

.nav__links li {
  display: flex;
  gap: 10px;

  border-radius: 50px;
  padding: 5px 19px;

  font-size: 18px;
  line-height: 26px;
}

.nav__links li:nth-child(1) {
  background-color: var(--light-blue);
}
.nav__links li:nth-child(2) {
  background-color: #f2992f;
}
.nav__links li:nth-child(3) {
  background-color: #2ccaca;
}
.nav__links li:nth-child(4) {
  background-color: var(--green);
  font-weight: 700;
}
.nav__links li:nth-child(5) {
  background-color: #bd5fe9;
}
.nav__links li:nth-child(6) {
  background-color: #ee4700;
}

.additional_links {
  display: flex;
  align-items: center;
  gap: 17px;
}

.wallet {
  background: linear-gradient(140.48deg, #ffd951 12.51%, #f2992f 87.69%);
  border-radius: 50px;
  padding: 8px;
}

/***  MAIN ***/

main {
  font-family: "Roboto";
}

/* inquiry */

.inquiry {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 32px;
}

.inquiry__title {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: var(--light-text);
  margin-bottom: 16px;
}

.inquiry p {
  color: #535353;

  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
}

.inquiry strong {
  font-weight: 700;
  font-size: 26px;
  line-height: 18px;
  color: var(--green);
}

.inquiry__cta {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--white);
  background-color: var(--green);
  border-radius: 50px;

  padding: 12px 45px;
}

/* filters */

.filters {
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 14px 28px;

  margin-bottom: 35px;
}

.filters__title-container {
  display: flex;
  justify-content: space-between;
}

.filters__title {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;

  color: #231f20;

  margin-bottom: 12px;
}

.refresh {
  display: flex;
  align-items: center;
  gap: 5px;

  font-family: 'Roboto';
  font-weight: 500;

  margin-bottom: 15px;
}

.refresh button {
  font-size: 16px;
  line-height: 24px;

  text-decoration-line: underline;

  color: #008aee;
}

.filters__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}

select {
  width: 100%;
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 20px;
  color: var(--light-text);

  background-color: var(--white);
  border: 1px solid var(--light-blue);
  filter: drop-shadow(0px 0px 0px rgba(0, 138, 238, 0.15));
  border-radius: 30px;

  padding: 11px 26px;
  appearance: none;
}



.filters__form select:disabled {
  border: 1px solid #e9e9e9;
  filter: drop-shadow(0px 0px 0px rgba(0, 138, 238, 0.15));
  color: #b7b7b7;
}

.filters__cta {
  color: var(--white);
  background: var(--light-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  border-radius: 50px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper svg {
  stroke: var(--light-text);
  width: 16px;
  height: 20px;

  position: absolute;
  top: 50%;
  right: 25px;

  transform: translate(0, -50%);

  pointer-events: stroke;
}

.select-wrapper:hover .down-arrow {
  stroke: var(--light-blue);
}

/* content */

.content-container {
  display: flex;
  align-items: flex-start;
  gap: 34px;
}

hr {
  color: #c1c1c1;
  height: 0.5px;
}

/* offers */

.offers {
  width: 100%;
}

.offers-heading {
  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;

  padding: 0 17px 0 17px;
}

.offers-heading__container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.offers-heading__container .refresh {
  margin: 0;
}

#newest {
  width: 186px;
}

.offers-heading__list {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-right: 20px;
}

.offers-heading__list li {
  display: flex;
  align-items: center;
  gap: 5px;

  color: var(--blue, #008aee);
  font-size: 26px;
  font-family: "Exo 2";
  font-weight: 700;
}

/* offer cards */

.offers__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  
  margin-bottom: 62px;
}

.offer-card {
  padding: 22px 22px 27px 17px;
}

.offer-card:hover {
  box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.offer-images {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.offer-images a {
  border-radius: 20px;
  cursor: pointer;
}

.offer-images__main {
  position: relative;
}

.demo_sign,
.add-to-favorites {
  position: absolute;
}

.demo_sign {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;

  top: 11px;
  right: 10px;
  padding: 3px 13px;

  border-radius: 50px;
  background-color: var(--red);
}

.add-to-favorites {
  bottom: 16px;
  right: 13px;
}

.offer-images__additional {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.offer-images__additional img {
  width: 98px;
  height: 69px;
}

.offer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--light-text);

  border-bottom: 0.5px solid #c1c1c1;
  padding-bottom: 11px;
  margin-bottom: 13px;
}

.seller-info {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 14px;
}

.seller-image {
  background-color: #d9d9d9;
  border-radius: 26px;
  width: 26px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.expiry {
  text-align: right;
  font-size: 14px;
  line-height: 18px;
}

.expiry strong {
  color: var(--light-blue);
}

.buy_sign {
  display: inline;

  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;

  border-radius: 50px;
  background-color: var(--green);
  padding: 3px 9px;
  margin-bottom: 3px;
}

.offer__info {
  padding: 3px;

  font-size: 12px;
  line-height: 16px;
}

.offer__info strong {
  font-weight: 600;
}

.offer__title {
  color: #000;
  font-size: 16px;
  font-family: "Exo 2";
  font-weight: 700;
  line-height: 22px;

  margin-bottom: 10px;
}

.received-offers strong,
.offer-comments strong {
  color: var(--light-blue);
}

.offer-comments {
  margin-bottom: 10px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c1c1c1;
}

.offer__additional-info {
  display: flex;
  gap: 42px;

  margin-bottom: 8px;
}

.offer__additional-info p {
  margin-bottom: 9px;
}

.offer__buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:3px;

  width: 100%;
  padding: 12px 0 12px 0;

  border-radius: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.send-offer {
  color: var(--white);
  background-color: var(--light-blue);

  margin-bottom: 10px;
}

button.send-offer {
  gap: 10px;
}

.additional-buttons {
  display: flex;
  gap: 7px;
}

.in-notebook {
  color: var(--green);
  background-color: rgba(51, 187, 90, 0.1);
  border: 1px solid #33bb5a;
}

.viewed {
  color: var(--red);
  background-color: rgba(253, 53, 66, 0.1);
  border: 1px solid var(--red);
}


/* pagination */

.pagination{ 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  font-size: 16px;
font-weight: 500;
line-height: 18px; 
}

.pagination__arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45px;
height: 45px; 
border-radius: 45px;
border: 1px solid var(--light-blue);
background-color: rgba(0, 139, 238, 0.1);
}

.pagination__arrow:hover .larr, .pagination__arrow:hover .rarr {
  stroke: #008aee;
}

.pagination .select-wrapper {
  width: 105px;
}

#page {
  padding-left: 14px;
}

/* aside */

aside {
  width: 237px;
}

aside hr {
  height: 1px;
}

.aside-links {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 24px;
}

aside .cta {
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 50px;
  padding: 13px;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.aside-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 14px 0;
}

.aside-list li a,
.q-and-a {
  display: flex;
  gap: 11px;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
}

.aside-list li:first-child {
  font-weight: 700;
  color: var(--light-blue);
}

.q-and-a {
  margin-bottom: 52px;
}

.ad {
  margin: 0 10px 0 15px;
}
